extends ../layout

block content
	.row
		.col-sm-12
			h1.page-header(style="margin-top: 0;") Transactions
	.row
		.col-sm-12
			table.table.table-responsive
				thead
					tr
						th: a(href="/admin/transactions") Created
						th: a(href="/admin/transactions?sort=-status") Status
						th: a(href="/admin/transactions?sort=-total") Total Paid
						th User Name
						th: a(href="/admin/transactions?sort=-type") Type
				tbody
					for transaction in transactions
						tr
							td: a(href="/admin/transaction/#{transaction._id}")= transaction.created
							td= transaction.status
							td $#{transaction.total}
							td: a(href="/admin/user/#{transaction.user._id}")= transaction.user.name
							td= transaction.type