doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title(ng-bind-template="{{ pageTitle }} - NodeGear") NodeGear
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")

		//- all css goes here
		block css

		link(rel="stylesheet" href="#{cdn}/#{version}/css/new.css")

	body
		if pretending
			.container-liquid
				.row
					.col-sm-12(style="padding: 15px; margin: 0; background: #f2dede; color: #a94442;")
						p.text-center(style="margin:0;")
							strong(style="text-decoration: underline;") BE RESPONSIBLE
							|  #{pretender.name}! =&gt; You are logged in as 
							i #{user.name}.
							br
							i(title="You have been warned.") Your actions 
								strong are
								|  recorded.

		nav.navbar.navbar-default.navbar-fixed-top.nodegear-topbar
			.container-fluid
				.navbar-header
					a.navbar-brand(ui-sref="apps") NodeGear 
						small(ng-if="$state.includes('app')" ng-bind-template="/ {{ app.name }}")

				.collapse.navbar-collapse(ng-cloak)
					ul.nav.navbar-nav.pull-right
						li(ng-class="{ 'active': $state.includes('app.processes') }" ng-if="$state.includes('app')")
							a(ui-sref="app.processes({ id: app.nameUrl })")
								| Processes
						li(ng-class="{ 'active': $state.includes('app.domains') }" ng-if="$state.includes('app')")
							a(ui-sref="app.domains({ id: app.nameUrl })")
								| Domains
						li(ng-class="{ 'active': $state.includes('app.environment') }" ng-if="$state.includes('app')")
							a(ui-sref="app.environment({ id: app.nameUrl })")
								| Environment
						li(ng-class="{ 'active': $state.includes('app.logs') }" ng-if="$state.includes('app')")
							a(ui-sref="app.logs({ id: app.nameUrl })")
								| Logs
						li(ng-class="{ 'active': $state.includes('app.traffic') }" ng-if="$state.includes('app')")
							a(ui-sref="app.traffic({ id: app.nameUrl })")
								| Traffic
						li(ng-class="{ 'active': $state.includes('app.usage') }" ng-if="$state.includes('app')")
							a(ui-sref="app.usage({ id: app.nameUrl })")
								| Resources
						li(ng-class="{ 'active': $state.includes('app.settings') }" ng-if="$state.includes('app')")
							a(ui-sref="app.settings({ id: app.nameUrl })")
								| Settings

						li: a(ui-sref="profile.view" ng-bind="user.name")
							| Awesome User
		
		.container-fluid.nodegear-container
			.row
				.nodegear-sidebar.col-sm-3.col-lg-2
					include inc/sidebar

				.nodegear-content.col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2
					block content
						ui-view(autoscroll="false")
							.pagestyle
								p.lead.text-center
									i.fa.fa-spin.fa-cog
									|  Loading...

		block js
			script.
				window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9";
			script(src="#{cdn}/#{version}/js/vendor/require.min.js" data-main="#{cdn}/#{version}/js/ng.js")
			if use_analytics
				script.
					window.analytics.load("pv8keasvrg");window.analytics.page();
				script(src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="c0c7568710bb46d4bf14b3dad719dbbe")
				!= newrelic.getBrowserTimingHeader()

			script(src="https://www.google.com/jsapi")
			script.
				google.load('visualization', '1', {'packages':['corechart']});
		
		//- page-specific js
		block addonjs