doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title NodeGear Password Reset
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		link(rel="stylesheet" href="#{cdn}/#{version}/css/bootstrap.nodegear.css")
		link(rel="stylesheet" href="#{cdn}/#{version}/css/font-awesome.min.css")
		link(rel="stylesheet" href="#{cdn}/#{version}/css/nodegear.css")

	body(style="background-color:#fff;")
		.container
			.row
				.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1.authentication
					h4.text-center Password Reset
					form(action="/auth/forgot/reset" method="POST")
						input(type="hidden" name="_csrf" value=token)
						input(type="hidden" name="code" value=code)

						fieldset
							p.text-center Please Enter your New Password
							.form-group
								input.form-control.input-lg.text-center(placeholder="New Password" type="password" autofocus="" required name="password")
							.form-group
								input.btn.btn-lg.btn-success.btn-block(type="submit" value="Reset")