doctype
html(ng-app="nodegear")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title NodeGear Admin
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet" href="#{cdn}/css/bootstrap.min.css")
			link(rel="stylesheet" href="#{cdn}/css/nodegear.css")
			link(rel="stylesheet" href="#{cdn}/css/font-awesome.min.css")

	body
		.container-fluid
			.row
				.col-sm-3
					h1.text-center NodeGear
						small  Admin
					nav.navbar-default.navbar-static-side(role="navigation")
						.sidebar-collapse
							ul.nav
								li
									a(href="/admin") Dashboard
								li.divider
								li
									a(href="/admin/users") Users
								li
									a(href="/admin/databases") Databases
								li
									a(href="/admin/apps") Apps
								li
									a(href="/admin/servers") Servers
								li
									a(href="/admin/tickets") Support Tickets
								li
									a(href="/admin/paymentMethods") Payment Methods
								li
									a(href="/admin/transactions") Transactions
								li.divider
								li
									a(href="/admin/performance") System Performance
				.col-sm-9
					block content
				
				.container
					.row
						.col-xs-12.col-md-12.col-sm-12.col-lg-12
							footer
								br
								p.text-center NodeGear 
									span.text-muted v#{version}-##{versionHash}
								br
			
		block js
			script(src="#{cdn}/js/vendor/jquery.js" defer)
			script(src="#{cdn}/js/vendor/bootstrap.js" defer)
			script(src="#{cdn}/js/vendor/angular.js" defer)
			script(src="#{cdn}/js/vendor/moment.js" defer)
			script(src="/socket.io/socket.io.js" defer)
			script(src="#{cdn}/js/controllers/admin.js" defer)
			
		//- page-specific js
		block addonjs