doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title NodeGear 404
		
		link(rel="stylesheet" href="#{cdn}/#{version}/css/bootstrap.nodegear.css")
		link(rel="stylesheet" href="#{cdn}/#{version}/css/font-awesome.min.css")
		link(rel="stylesheet" href="#{cdn}/#{version}/css/nodegear.css")

	body(style="background-color:#fff;")
		.jumbotron(style="margin-top: 20px;")
			.container
				h1 Hmm that looks like a 
					code 404
				p It means there is nothing here, and thats all we know 
					i.fa.fa-frown.fa-fw

				p: a(href="/") NodeGear
		
		.text-center
			a.text-muted(href="/") Powered by NodeGear