doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title(ng-bind-template="{{ pageTitle }} - NodeGear") NodeGear
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		link(rel="stylesheet" href="#{cdn}/#{version}/css/bootstrap.nodegear.css")
		link(rel="stylesheet" href="#{cdn}/#{version}/css/font-awesome.min.css")
		link(rel="stylesheet" href="#{cdn}/#{version}/css/nodegear.css")

	body(style="background-color:#fff;")
		.container
			.row
				ui-view
					.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1.authentication
						h3.text-center NodeGear
						p.text-center Hold on, we're loading the interface...
		
		script(src="#{cdn}/#{version}/js/vendor/require.min.js" data-main="#{cdn}/#{version}/js/ng_auth.js")