doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title(ng-bind-template="{{ pageTitle }} - NodeGear") NodeGear
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		link(rel="stylesheet" href="#{cdn}/css/#{version}/bootstrap.min.css")
		link(rel="stylesheet" href="#{cdn}/css/#{version}/bootstrap-theme.min.css")
		link(rel="stylesheet" href="#{cdn}/css/#{version}/font-awesome.min.css")
		link(rel="stylesheet" href="#{cdn}/css/#{version}/nodegear.css")

	body(style="background-color:#fff;")
		include inc/navbar
		include inc/flash
		
		.container
			.row
				ui-view
					.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
						.login-panel.panel.panel-default
							.panel-heading
								h3.panel-title.text-center &nbsp;
							.panel-body
								p.text-info.text-center Please hang on, we're loading all the content
			.row
				.col-xs-12.col-md-12.col-sm-12.col-lg-12
					footer
						br
						p.text-center
							| NodeGear 
							span.text-muted v#{version}-##{versionHash}
						br
		
		script(src="#{cdn}/js/#{version}/vendor/require.min.js" data-main="#{cdn}/js/#{version}/ng_auth.js")