doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title(ng-bind-template="{{ pageTitle }} - NodeGear") NodeGear
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")

		//- all css goes here
		block css
			link(rel="stylesheet" href="#{cdn}/#{version}/css/bootstrap.nodegear.css")
			link(rel="stylesheet" href="#{cdn}/#{version}/css/font-awesome.min.css")
			link(rel="stylesheet" href="#{cdn}/#{version}/css/nodegear.css")

	body
		if pretending
			.container-liquid
				.row
					.col-sm-12(style="padding: 15px; margin: 0; background: #f2dede; color: #a94442;")
						p.text-center(style="margin:0;")
							strong(style="text-decoration: underline;") BE RESPONSIBLE
							|  #{pretender.name}! =&gt; You are logged in as 
							i #{user.name}.
							br
							i(title="You have been warned.") Your actions 
								strong are
								|  recorded.
		.container-liquid
			.row
				.col-sm-3(ng-class="{ 'col-sm-3': !kiosk_enabled }" ng-hide="kiosk_enabled")
					include inc/sidebar
				div(ng-class="{ 'col-sm-12': kiosk_enabled, 'col-sm-9': !kiosk_enabled }")
					.kiosk-toggle.inside_container(ng-show="kiosk_enabled" ng-cloak)
						a(ng-click="toggleKiosk()")
							span.caret
					block content
						ui-view(autoscroll="false")
							.pagestyle
								p.text-center: small Hold Tight, loading the awesome...

		block js
			script(src="#{cdn}/#{version}/js/vendor/require.min.js" data-main="#{cdn}/#{version}/js/ng.js")
			!= newrelic.getBrowserTimingHeader()
			script(src="https://www.google.com/jsapi")
			script.
				google.load('visualization', '1', {'packages':['corechart']});
		//- page-specific js
		block addonjs