doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title(ng-bind-template="{{ pageTitle }} - NodeGear") NodeGear
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet" href="#{cdn}/css/#{version}/bootstrap.nodegear.css")
			link(rel="stylesheet" href="#{cdn}/css/#{version}/font-awesome.min.css")
			link(rel="stylesheet" href="#{cdn}/css/#{version}/nodegear.css")

	body
		.container-liquid
			.row
				.col-sm-3
					include inc/sidebar
				.col-sm-9
					block content
						ui-view(autoscroll="false")
							.loading-text
								p Hold Tight, loading awesome...

		block js
			script(src="#{cdn}/js/#{version}/vendor/require.min.js" data-main="#{cdn}/js/#{version}/ng.js")
			
		//- page-specific js
		block addonjs