doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf" content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title(ng-bind-template="{{ pageTitle }} - NodeGear") NodeGear
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet" href="#{cdn}/css/#{version}/bootstrap.min.css")
			link(rel="stylesheet" href="#{cdn}/css/#{version}/bootstrap-theme.min.css")
			link(rel="stylesheet" href="#{cdn}/css/#{version}/font-awesome.min.css")
			link(rel="stylesheet" href="#{cdn}/css/#{version}/nodegear.css")

	body
		include inc/navbar
		include inc/flash
		
		#wrapper
			+navbar(0)
			+flash
			include inc/sidebar
			
			#page-wrapper
				block content
					ui-view(autoscroll="false")
			
			.container(style="border-top:1px groove #EFEFEF;")
				.row
					.col-xs-12.col-md-12.col-sm-12.col-lg-12
						footer
							br
							p.text-center NodeGear
								br
								a(href) Contact
								|  | 
								a(href) Support
								|  | 
								a(href) System Status
							p.text-center
								span.text-muted v#{version}-##{versionHash}
							br
		
		block js
			script(src="#{cdn}/js/#{version}/vendor/require.min.js" data-main="#{cdn}/js/#{version}/ng.js")
			
		//- page-specific js
		block addonjs