extends ../layout

block content
	+navbar(2)
	
	.full-width-container
		+flash()
		
		.panel.panel-default
			.panel-heading
				h1.panel-title Global App Analytics
			.panel-body
				p Here are global analytics sorted in descending order (time finished request)
				p Showing 
					code= analytics.length
					|  requests, average 
					code= average.toFixed(2)
					| ms per request,
					code= size.toFixed(2)
					| mb transmitted from apps
				p
					code= allTotal
					|  total requests, average 
					code= allAverage.toFixed(2)
					| ms per request, 
					code= allSize.toFixed(2)
					| mb transmitted from apps
			table.table
				thead
					tr
						th IP
						th Start
						th Time
						th Down
						th Up
						th Hostname
						th Request
						th Drone
				tbody
					for row in analytics
						tr
							td= row.ip
							td
								= row.start.getDate()
								| /
								= row.start.getMonth()+1
								|  
								= row.start.getHours()
								| :
								= row.start.getMinutes()
								| :
								= row.start.getSeconds()
								| s
							td= row.end - row.start
								| ms
							td
								- size = row.resSize
								if size < 1024
									= size
									| b
								else
									- size = size / 1024
									if size < 1024
										= size.toFixed(2)
										| kb
									else
										- size = size / 1024
										= size.toFixed(2)
										| mb
							td= row.reqSize
								| b
							td= row.hostname
							td= row.request
								|  
								= row.statusCode
								|  
								if row.url.length > 10
									= row.url.substr(0,10-1)
									| &hellip;
								else
									= row.url
							td
								if row.drone
									a(href="/app/"+row.drone._id)= row.drone.name
								unless row.found
									code 404