extends ../layout

append js
	script(src="#{cdn}/js/controllers/admin/user.js" defer)

mixin form_item()
	.form-group
		label.col-sm-4.control-label(for=attributes.id)= attributes.placeholder
		.col-sm-8
			input.form-control(id=attributes.id disabled=attributes.disabled ? "" : null required=attributes.required ? "" : null type=attributes.type ng-model=attributes.model placeholder=attributes.placeholder)
mixin form_checkbox()
	.form-group
		.col-sm-7.col-sm-offset-4
			.checkbox
				label
					input(type="checkbox" ng-model=attributes.model)
					= attributes.placeholder

block content
	div(ng-controller="UserController" ng-init="init('#{token}', '#{aUser._id}')")
		.row
			.col-sm-12
				h1.page-header Editing User
		.row
			.col-sm-6
				form.form-horizontal(autocomplete="off")
					+form_item()(type="text", placeholder="Created", required=false, disabled=true, id="created", model="user.created")
					+form_item()(type="text", placeholder="Username", required=true, id="username", model="user.username")
					+form_item()(type="text", placeholder="Username Lowercase", required=false, disabled=true, id="username", model="user.usernameLowercase")
					
					+form_item()(type="text", placeholder="User Name", required=true, id="name", model="user.name")
					
					+form_item()(type="email", placeholder="Email Address", required=true, id="email", model="user.email")
					+form_checkbox()(model="user.email_verified", placeholder="Verified Email")

					+form_item()(type="text", placeholder="Change Password", required=false, id="password", model="user.password")
					
					+form_item()(type="number", placeholder="Balance (GBP)", required=true, id="balance", model="user.balance")
					+form_item()(type="text", placeholder="Stripe ID", required=false, id="stripe_customer", model="user.stripe_customer")
					//- default payment method & TFA

					+form_checkbox()(model="user.admin", placeholder="Administrator")
					+form_checkbox()(model="user.tfa_enabled", placeholder="TFA Enabled")
					+form_checkbox()(model="user.disabled", placeholder="Disabled")
					+form_checkbox()(model="user.updatePassword", placeholder="Force User to Update Password")
					
					.form-group
						.col-sm-6.col-sm-offset-4
							button.btn.btn-success(ng-click="save()") Save User