extends ../layout

block content
	.row
		.col-sm-12
			h1.page-header(style="margin-top: 0;") Payment Method #{paymentMethod.name}
	.row
		.col-sm-6
			dl.dl-horizontal
				dt _id
				dd= paymentMethod._id
				dt Type
				dd= paymentMethod.type
				dt Id
				dd= paymentMethod.id
				dt Name
				dd= paymentMethod.name
				dt Cardholder
				dd= paymentMethod.cardholder
				dt Created
				dd= paymentMethod.created
				dt Last4
				dd= paymentMethod.last4
				dt Disabled
				dd= paymentMethod.disabled
				dt User
				dd: a(href="/admin/user/#{paymentMethod.user._id}")= paymentMethod.user.name